<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist Maker - Join or Start</title>
</head>
<body>
<h1><a href="{% url 'spotify_playlists:index' %}">Playlist Maker</a> - Join or Start</h1>
<div id="join">
    <h2>Join a party</h2>
    <form action="{% url 'spotify_playlists:join' %}">
        {% csrf_token %}
        <label for="party_id">Enter the party ID: </label>
        <input type="text" name="party_id" id="party_id">
        <button type="submit">Join Party</button>
    </form>
</div>
<div id="start">
    <h2>Start a party</h2>
    <form action="{% url 'spotify_playlists:start' %}">
        {% csrf_token %}
        <label for="party_name">Name your party: </label>
        <input type="text" name="party_name" id="party_name">
        <button type="submit">Start Party</button>
    </form>
</div>
<div id="manage">
    <h3>Manage your current parties</h3>
    <ol>
        <li>Party</li>
        <li>Top is next to happen</li>
        <li>Based on start date</li>
    </ol>
</div>
</body>
</html>